/*-----------------------------Global---------------------------------*/

:root{
    /*Fonts*/
    --titleFont: 'Borel';
    --mainFont: 'Adlam Display';
    --secFont: 'Belanosima';

    /*Color Palette*/
    --darkBlue: #264653ff;
    --lightBlue: #2a9d8fff;
    --yellow: #e9c46aff;
    --lightOrange: #f4a261ff;
    --darkOrange: #e76f51ff;
}

*{
    font-family: var(--mainFont);
}

html{
    font-size: 1.6vh;
}

body {
    overflow: hidden; /* Prevents scrolling */
    touch-action: none; /* Prevents swipe scrolling */
    margin: 0;
}

.Slide{
    height: 100vh;
    width: 100vw;
    border: 1px solid var(--darkBlue);
    z-index: -2;

    background-color: #264653;
    background-image:  radial-gradient(#2A9D8F 1.15px, transparent 1.15px), radial-gradient(#2A9D8F 1.15px, #264653 1.15px);
    background-size: 46px 46px;
    background-position: 0 0,23px 23px;
}

button, input[type="radio"]{
    cursor: pointer;
}

/*---------------------------Welcome Page-----------------------------*/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
}

#TitleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.6em solid #eb6534;
    border-radius: 1.2em;
    position: relative;
    z-index: 1;     /*Hadaaa*/

    background-color: #e9c46a;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e9c46a 28px ), repeating-linear-gradient( #f4a26155, #f4a261 );
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#TitleContainer::after,
#TitleContainer::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),transparent 40%, var(--yellow));

    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 0.9em;
    border-radius: 1.5em;

    animation: 1.5s spin linear infinite;
}

#TitleContainer::before{
    filter: blur(1.7em);
    opacity: 0.5;
}

@keyframes spin{
    from{
        --angle : 0deg;
    }
    to{
        --angle : 360deg;
    }
}

#TitleContainer > h3{
    font-family: var(--titleFont);
    font-size: 3.6rem;
    font-weight: bolder;
    text-align: center;
    margin: 0;
    height: 1.4em;
    padding: 0.3em 0.7em;

    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    animation: blink 5s infinite;
}

@keyframes blink {
    20%,
    24%,
    55% {
        color: var(--darkOrange);
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}

#MainSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

#Instructions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
    border-radius: 2em;
    color: #E0F8F7;

    background-color: #246A73;
    border: 1px solid #368f8b;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#Instructions > h3{
    font-size: 2.5rem;
    margin: 0;
    color: #82C4C1;
    font-weight: bold;
}

#Instructions > hr{
    width: 90%;
    color: #368F8B;
    margin-top: 0.9em;
}

#Instructions > p{
    font-family: var(--secFont);
    max-width: 50ch;
    font-size: 1.3rem;
    margin-top: 1em;
}

#Instructions > p > span{
    color: var(--lightOrange) !important;
}

.NextButton,
#GenerateButton,
#RetryButton{
    font-size: 1.9rem;
    margin-top: 2em;
    padding: 0.2em 1em 0.27em 1em;

    background-color: #1b4965;
    color: #cae9ff;
    border-color: #62b6cb;
    border-radius: 0.5em;

    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


/*----------------------------Settings--------------------------------*/

#SettingsHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
}

#SettingsTitleContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0a2e36;
    border-radius: 1.6em;
    color: #DAEFD8;

    border: 1px solid var(--lightBlue);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#SettingsTitleContainer > h3{
    font-size: 2.6rem;
    margin: 0;
    padding: 0.5em 1.3em;
}

#SettingsSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

#SettingsDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    gap: 2.1em;
    font-size: 1.8rem;

    border-radius: 1.3em;
    color: #E0F8F7;

    background-color: #246A73;
    border: 1px solid #368f8b;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.Setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 3em;
}

.Setting select,
.Setting input{
    width: 27%;
    box-sizing: border-box;/* Include padding and border in the width */
    height: 2.2em;
    text-align: center;
    font-size: 1.3rem;

    border-radius: 0.5em;
    background-color: #E0F8F7;
    border-color: #140f2d;

    color: var(--darkBlue);
}

/*---------------------------Questions--------------------------------*/

.QuestionSection{
    margin-top: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.QuestionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
    padding-bottom: 2em;
    gap: 0.2em;
    max-width: 65vw;

    border-radius: 2em;

    --sz: 17px;
    --c1: #6238AA;
    --c2: #673ab7;
    --c3: #6037A7;
    --c4: #59339A;
    --ts: 50% / calc(var(--sz) * 10) calc(var(--sz) * 10);
    --pz: calc(var(--sz) * 0.65), #fff0 calc((var(--sz) * 0.65) + 1px);
    background: radial-gradient(circle at 53% 25%, var(--c4) var(--pz)) var(--ts),
        radial-gradient(circle at 75% 47%, var(--c2) var(--pz)) var(--ts),
        radial-gradient(circle at 3% 75%, var(--c2) var(--pz)) var(--ts),
        radial-gradient(circle at 25% 53%, var(--c4) var(--pz)) var(--ts),
        radial-gradient(circle at 53% 75%, var(--c3) var(--pz)) var(--ts),
        radial-gradient(circle at 75% 97%, var(--c1) var(--pz)) var(--ts),
        radial-gradient(circle at 3% 25%, var(--c1) var(--pz)) var(--ts),
        radial-gradient(circle at 25% 3%, var(--c3) var(--pz)) var(--ts),
        conic-gradient(
        from 0deg at 50% 50%,
        var(--c1) 0 25%,
        var(--c2) 0 50%,
        var(--c3) 0 75%,
        var(--c4) 0 100%
        )
        var(--ts);


    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.Question{
    font-size: 2.1rem;
    max-width: 45ch;
    text-align: center;

    color: #E8DBFD;
}

.QuestionContainer > hr{
    border: 0;
    height: 0.05em;
    background-color: #957CC1;
    width: 80%;
    margin-top: 0.5em;
}

.QuestionOptions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    margin-top: 1.7em;
}

.Option{
    font-size: 1.8rem;
    width: 43%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5em;
    margin-bottom: 1em;
}

.Option > label{
    max-width: 27ch;
    color: #FFE7B4;

    cursor: pointer;
}

.Option > input{
    transform: scale(1.7);
    background-color: #FFE7B4;
}


/*-----------------------------Clock-----------------------------------*/

#ClockSection{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    display: none;
}

#ClockContainer{
    width: 13vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 2em 2em;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    background-color: #894015;
    opacity: 1;
    background-image:  radial-gradient(#da9642 0.45px, transparent 0.45px), radial-gradient(#da9642 0.45px, #894015 0.45px);
    background-size: 18px 18px;
    background-position: 0 0,9px 9px;
}

#Clock{
    text-align: center;
    font-size: 1.6rem;
    color: #ffebd2;
}

/*-----------------------------Score-----------------------------------*/

#ScoreSection{
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
}

#ScoreContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25vh;
    padding: 1em 3em;

    background: linear-gradient(to top right, #EBB762, #EC6132);
    background: radial-gradient();
    border-radius: 1em;

    color: #FFE3C7;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


    background-color: #894015;
    opacity: 1;
    background-size: 18px 18px;
    background-image:  repeating-linear-gradient(to right, #9f6014, #9f6014 0.9px, #894015 0.9px, #894015);
}

#ScoreContainer > hr{
    width: 90%;
    margin-top: 0.5em;
    background-color: #9f6014;
    border: 0;
    height: 0.2em;
}

#Score{
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
}

#Remarks{
    font-size: 2rem;
    text-align: center;
    margin-top: 0.5em;
    color: #be8034;
}

/*----------------------------Loader-----------------------------------*/

#LoaderContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /* For Safari */
    z-index: 1;
    transition: opacity 0.75s, visibility 0.75s;
}

#Loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background: conic-gradient(#25b09b 25%,#f03355 0 50%,#514b82 0 75%,#ffa516 0);
    animation: l22 2s infinite linear;
    animation-play-state: paused;
}

#Loader::before,
#Loader::after {
    content: "";
    grid-area: 1/1;
    margin: 15%;
    border-radius: 50%;
    background: inherit;
    animation: inherit;
}

#Loader::after {
    margin: 25%;
    animation-duration: 3s;
}
@keyframes l22 {
    100% {transform: rotate(1turn)}
}

.Loader--hidden{
    opacity: 0;
    visibility: hidden;
}
